<a href="https://colab.research.google.com/github/alademk65/TTA_alademk65/blob/main/HLT4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [30]:

! cp "/content/gdrive/MyDrive/Colabs/Notebook/csvacation.csv" .

In [31]:
! ls

csvacation.csv	drive  gdrive  sample_data

In [34]:
import numpy as np

import pandas as pd

vd= pd.read_csv("csvacation.csv")

In [35]:
vd.shape

(15, 5)

In [38]:
vd.iloc[3:9]

  Destination  Feedback Score  ...  All Inclusive Hotels  Top Visited City
3    Thailand             7.5  ...                   200           Bangkok
4    Mauritus             9.5  ...                   200        Port Loius
5   Sri Lanka             7.0  ...                   186             Galle
6  Seychelles             8.0  ...                   202         Desroches
7  Cape Verde             8.0  ...                   230         Boa Vista
8      Greece             8.5  ...                   300         Santorini

[6 rows x 5 columns]

In [48]:
import numpy as np

import pandas as pd

vd1= pd.read_csv("csvacation.csv", index_col="Destination")

In [63]:
display(vd1.loc[["Thailand", "Mauritus","Sri Lanka", "Seychelles","Cape Verde","Greece"]])

             Feedback Score  ...  Top Visited City
Destination                  ...
Thailand                7.5  ...           Bangkok
Mauritus                9.5  ...        Port Loius
Sri Lanka               7.0  ...             Galle
Seychelles              8.0  ...         Desroches
Cape Verde              8.0  ...         Boa Vista
Greece                  8.5  ...         Santorini

[6 rows x 4 columns]

In [50]:
vd["All Inclusive Hotels"].mean()

318.0

In [52]:
vd["Feedback Score"].min()

7.0

In [53]:
vd["Feedback Score"].max()

9.5

In [58]:

dict={"Destination": "dest",
      "Feedback Score": "score"	,
      "Hotel Star Rating"	: "rating",
      "All Inclusive Hotels": "inclhotel",
      "Top Visited City": "tpvisit"}

vd.rename(columns=dict,inplace=True)

display(vd)

           dest  score  rating  inclhotel      tpvisit
0       Germany    8.0       4        600       Berlin
1      Maldives    8.5       4        120         Male
2         Spain    9.0       5        400       Madrid
3      Thailand    7.5       3        200      Bangkok
4      Mauritus    9.5       3        200   Port Loius
5     Sri Lanka    7.0       3        186        Galle
6    Seychelles    8.0       3        202    Desroches
7    Cape Verde    8.0       4        230    Boa Vista
8        Greece    8.5       4        300    Santorini
9        Mexico    7.0       3        212  Mexico City
10          UAE    9.5       5        850        Dubai
11      Comoros    8.0       3        150      Mayotte
12      Morroco    7.5       3        220     Merkkesh
13      Ireland    7.0       4        350       Dublin
14  Netherlands    8.0       5        550    Amsterdan

In [59]:
vd[(vd.inclhotel >9)]

           dest  score  rating  inclhotel      tpvisit
0       Germany    8.0       4        600       Berlin
1      Maldives    8.5       4        120         Male
2         Spain    9.0       5        400       Madrid
3      Thailand    7.5       3        200      Bangkok
4      Mauritus    9.5       3        200   Port Loius
5     Sri Lanka    7.0       3        186        Galle
6    Seychelles    8.0       3        202    Desroches
7    Cape Verde    8.0       4        230    Boa Vista
8        Greece    8.5       4        300    Santorini
9        Mexico    7.0       3        212  Mexico City
10          UAE    9.5       5        850        Dubai
11      Comoros    8.0       3        150      Mayotte
12      Morroco    7.5       3        220     Merkkesh
13      Ireland    7.0       4        350       Dublin
14  Netherlands    8.0       5        550    Amsterdan

In [60]:
vd[(vd.score >8)]

        dest  score  rating  inclhotel     tpvisit
1   Maldives    8.5       4        120        Male
2      Spain    9.0       5        400      Madrid
4   Mauritus    9.5       3        200  Port Loius
8     Greece    8.5       4        300   Santorini
10       UAE    9.5       5        850       Dubai

In [61]:
vd[(vd.score <2)]
### No destination with score below 2

Empty DataFrame
Columns: [dest, score, rating, inclhotel, tpvisit]
Index: []